################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UUSEProject/v17
/Project/Code/SEProject/SEProject/bin
/Project/Code/SEProject/SEProject/obj/Debug
/Project/Code/SEProject/.vs/SEProject
/.vs
